<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> エラーがあります。:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :イベント名 %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :開始日時 %><br>
    <%= f.datetime_select :starts_at %>
  </div>
  <div class="field">
    <%= f.label :終了日時 %><br>
    <%= f.datetime_select :ends_at %>
  </div>
  <div class="field">
    <%= f.label :コメント %><br>
    <%= f.text_area :comment%>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
