<p id="notice"><%= notice %></p>

<p>
  <strong>イベント名:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>開始日時:</strong>
  <%= @event.starts_at %>
</p>

<p>
  <strong>終了日時：</strong>
  <%= @event.ends_at %>
</p>

<p>
  <strong>コメント：</strong><br>
  <%= @event.comment %>
</p>

<p>
<strong>参加予定者：</strong><br>
  </p>

<%= render 'form2' %>

<%= link_to '編集', edit_event_path(@event) %> |
<%= link_to '戻る', events_path %>

