<!DOCTYPE html>
<html>
<head>
  <title>Yoooga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
</head>
<body>
<header>
    <h1><a href="index.html">PS ヨガ部！！</a></h1>
    <div class="contact"><a href="index.html">ログイン</a></div>
    <p class="summary">
    LesMillsの提供しているスタジオプログラムに参加しています。
    </p>
</header>

<%= yield %>

</body>
</html>
