<!DOCTYPE html>
<html>
<head>
  <title>Yoooga</title>
  <html lang="ja">
<link rel="stylesheet" type="text/css" href="css/stylen.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="">
<meta name="description" content="">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-error"><%= alert %></p>
  <% end %>
</head>
<body>
<header>
    <h1><a href="/">PS ヨガ部！！</a></h1>

    <% if user_signed_in? %>

    <div class="log">
      <div class="contact1"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'logout'  %> </div>
    </div>

    <% else %>
     <div class="log">
    <div class="contact1"><a href="/users/sign_in">ログイン</a></div>
    <div class="contact2"><a href="/users/sign_up">新規登録</a></div>
  </div>
    <% end %>

    <p class="summary">
    LesMillsの提供しているスタジオプログラムに参加しています。
    </p>


</header>
<nav>
    <h3>メニュー</h3>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="index.html">この部活について</a></li>
        <li><a href="/schedule">スケジュール管理</a></li>
        <li><a href="index.html">各種情報</a></li>
        <li><a href="index.html">交流掲示板</a></li>
        <li><a href="index.html">アルバム</a></li>
        <li><a href="sample.html">マイページ</a></li>
    </ul>
</nav>
<%= yield %>

</body>
</html>
